body {
    color: #f5e8d1;
    background:#0f1b26 ;
    margin-left:auto ;
    margin-right: auto;
    max-width: 800px;
}
h1,h2{
    text-align: center;
    color:chocolate;
}
em{ 
    font-style: italic;
}
.vice{
    text-align: center;
}
.andreas{
    text-align: center;
}
.dues{
    text-align: center;
}
@media (max-width: 480px) {
    header {
        padding: 60px 0;
    }
    
     h1 {
        font-size: 28px;
    }
}

