body{
    color: #f5e8d1;
    background:#0f1b26 ;
    margin-left:auto ;
    margin-right: auto;
}
h1{
    
    text-align: center;
    color:chocolate;
}
div{
    text-align: center;
}
h2{
    text-align: center;
}
a {
    color: #33bbff;
    text-decoration: none;
}
