body {
    color: #f5e8d1;
    background:#0f1b26 ;
    margin-left:auto ;
    margin-right: auto;
    max-width: 800px;
}
h1,h2{
    text-align: center;
    color:chocolate;
}
em{ 
    font-style: italic;
}
.button{
    text-align: center;
}
.Animation{
    text-align: center;
}
.wButton{
    text-align: center;
}
a{
    color: #33bbff;
}